@import "tailwindcss";

@theme {
    --color-background: #fdf7f2;
    --color-forground: #1e1e1e;
}

.mx-dynamic {
    @apply lg:mx-10 mx-2;
}

body {
    background-color: var(--color-background);
    color: var(--color-forground);
}
