@import "tailwindcss";

@theme {
    --color-background: #fdf7f2;
    --color-forground: #1e1e1e;
    --font-display: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

.mx-dynamic {
    @apply lg:mx-10 mx-2;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-geist-mono);
    color: var(--color-forground);
}
