@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--color-foreground: var(--theme-color-foreground);
	--color-background: var(--theme-color-background);
	--color-primary: var(--theme-color-primary);
	--color-secondary: var(--theme-color-secondary);
	--color-accent: var(--theme-color-accent);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	[data-theme='light'] {
		--theme-color-foreground: hsl(133, 60%, 3%);
		--theme-color-background: hsl(120, 60%, 99%);
		--theme-color-primary: hsl(132, 62%, 55%);
		--theme-color-secondary: hsl(290, 62%, 73%);
		--theme-color-accent: hsl(343, 61%, 63%);
	}

	[data-theme='dark'] {
		--theme-color-foreground: hsl(133, 60%, 97%);
		--theme-color-background: hsl(120, 60%, 1%);
		--theme-color-primary: hsl(132, 62%, 45%);
		--theme-color-secondary: hsl(290, 62%, 27%);
		--theme-color-accent: hsl(343, 61%, 37%);
	}
}

body {
	margin: 0;
	font-family: 'Victor Mono';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@apply bg-background text-foreground;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
}

html {
	font-size: 100%;
}

h1 {
	font-size: 3.21rem; /* 67.36px */
}

h2 {
	font-size: 2.458rem; /* 50.56px */
}

h3 {
	font-size: 1.777rem; /* 37.92px */
}

h4 {
	font-size: 1.377rem; /* 28.48px */
}

h5 {
	font-size: 1rem; /* 21.28px */
}

small {
	font-size: 0.75rem; /* 12px */
}

.markdown a {
	@apply text-primary;
	text-decoration: none;
	position: relative;
}

.markdown ul {
	@apply space-y-1;
}

.markdown {
	@apply space-y-3;
}

.markdown a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0;
	background-color: theme('colors.primary');
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
	@apply mt-6 mb-0;
}

.markdown ul {
    @apply space-y-2;
}

.markdown li {
	list-style: outside;
	list-style-position: inside;
}

.markdown a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

p {
	@apply border-primary/20 border-s-2 ps-2 md:border-s-3 md:ps-4;
}

/* .scrollbar-thin { */
/*     @apply scrollbar-thin scrollbar-hover:scrollbar-thumb-secondary scrollbar-thumb-primary scrollbar-track-transparent; */
/* } */

@layer utilities {
	.container {
		max-width: 800px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 640px) {
		.container {
			max-width: 600px;
		}
	}

	@media (min-width: 768px) {
		.container {
			max-width: 800px;
		}
	}

	@media (min-width: 1024px) {
		.container {
			max-width: 960px;
		}
	}

	@media (min-width: 1280px) {
		.container {
			max-width: 1080px;
		}
	}
}
